.table {
  max-width: 50%;
  font-family: sans-serif;
  border: 1px solid #e6e6e6;
  padding: 0 20px 0 20px;
  min-width: 300px;
  background-color: #2399f9;
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .table {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .table {
    max-width: 95%;
  }
}

@media (max-width: 480px) {
  .table {
    max-width: 100%;
  }
}

.postWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 10px;
  background-color: #fff;
}

.postContentWrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e6e6e6;
  gap: 5px;
  padding-bottom: 5px;
}

.postContentTitle {
  font-size: 14px;
  font-weight: 600;
}

.postContentBody {
  font-size: 12px;
}

.searchWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #2399f9;
  color: #fff;
  position: sticky;
  top: 0;
}

.buttonWrapper {
  border-bottom: 1px solid #e6e6e6;
}

.deleteButton {
  border: 1px solid #e6e6e6;
  background-color: #fff;
  cursor: pointer;
  height: 35px;
}

.deleteButton:hover {
  border: 1px solid #e6e6e6;
  background-color: #2399f9;
  color: #fff;
  cursor: pointer;
}
